/* .window-frame { */
/*   box-shadow: none; */
/*   margin: 0; */
/* } */

/* Add padding to terminals */
VteTerminal,
vte-terminal {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

/* Fix terminator separator color */
notebook,
notebook header {
  /* border-color: #1b2224; */
  border-color: #14191b; /* solves issue with Matcha Dark Theme */
}
separator {
  background-color: #4c566a; /* solves transparent separator in Cinnamon */
}
