.window-frame {
  box-shadow: none;
  margin: 0;
}

/* Add padding to terminals */
VteTerminal,
vte-terminal {
  padding: 16px;
}

/* Fix terminator separator color */
separator {
  background-color: #313640;
  min-height: 5;
  min-width: 5;
}

notebook,
notebook header {
  border-color: #1b2224;
}
