/* @theme "/usr/share/rofi/themes/Pop-Dark.rasi" */
//@theme "/home/santi/.config/rofi/themes/nord.rasi"
/* @theme "/home/santi/.config/rofi/themes/nord1.rasi" */
//@theme "/home/santi/.config/rofi/themes/default.rasi"
//@theme "/home/santi/.config/rofi/themes/nord2.rasi"
//@theme "/home/santi/.config/rofi/themes/squared-nord.rasi"
//@theme "/home/santi/.config/rofi/themes/nord-oneline.rasi"
@theme "/home/santi/.config/rofi/themes/rounded-nord-dark.rasi"
