[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ssh-add
Comment=
Exec=xfce4-terminal -e /home/santi/bin/ssh-add-script.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

